.button {
	font-family: 'Zaychik';
	font-size: 2.5rem;
	padding: 1rem;
	color: #fff;
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: relative;
	z-index: 2;
	transition: color 0.5s ease-in-out;
	text-align: center;
	white-space: nowrap;
}
@media screen and (max-width: 1024px) {
	.button {
		font-size: 1.6rem;
	}
}
.button:hover {
	color: #000;
}
.button:hover::before {
	content: '';
	position: absolute;
	transform: translate(-45%, -55%);
	top: 50%;
	left: 50%;
	min-width: 115%;
	min-height: 115%;
	background-image: url('./plashka.png');
	background-position: center;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	transition: background-image 0.5s ease-in-out;
	z-index: -1;
}
.button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
.button:disabled:hover {
	color: #fff;
}
.button:disabled:hover::before {
	background-image: none;
}
