.modal {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.modal_open {
  animation: openModal 400ms forwards linear;
  transform-origin: top center;
}

@keyframes openModal {
	from {
		backdrop-filter: blur(0);
    opacity: 0;
	}
	to {
		backdrop-filter: blur(10px);
    opacity: 1
	}
}

.modal_close {
  animation: closeModal 400ms forwards linear;
  transform-origin: top center;
}


@keyframes closeModal {
	from {
		backdrop-filter: blur(10px);
    opacity: 1;
	}
	to {
		backdrop-filter: blur(0);
    opacity: 0
	}
}